/* Navbar */
.site-navbar {
	background: #3e285c;
	border-bottom: solid 2px #4a2f6f;
}
.site-navbar .current {
	background: #d9742d;
	color: #ccc;
}
.site-navbar li a.current:hover {
	background: #d9742d;
}
.site-navbar li a:hover {
	background: #833b0b;
	color: #ccc;
}
.site-navbar li a {
	color: #999;
}
.navbar-toggle {
	border: 2px solid #7a66ff;
	border-radius: 7px;
}

/* shades of purplse
201e2e
3a3558
3d395f
7a66ff
*/

/* shades of orange
381a06
*/

/* shades of red
2a1314
*/

.site-navbar li a:focus {
	background: #7a66ff;
}

#section-1 h3,
#section-2 h3,
#section-3 h3,
#section-4 h3,
#section-5 h3,
#section-6 h3 {
	color: #d9742d;
}

/* section 1 */
#section-1 {
    background-color: #1f142e;
	border-bottom-color: #4a2f6f;
}
#section-1 p {
	font-size: 1.5em;
    color: #aaa;
    line-height: 1.25em;
    font-weight: caption;
    padding-bottom: 0.6em;
    padding-right: 1em;
}
#section-1 .hero-logo {
    float: left;
    padding-right: 1.5em;
    padding-bottom: 0.2em;
    line-height: 1em;
    font-size: 12px;
}

#section-1 blockquote {
	border: none;
	font-size: 1.9em;
    color: #ccc;
}

/* section 2 */
#section-2 {
	border-bottom-color: #4a2f6f;
}

/* section 3 */
#section-3 {
	background: #381a06;
	border-bottom-color: #4a2f6f;
}

/* section 4 */
#section-4 {
	border-bottom-color: #4a2f6f;
}

/* section 5 */
#section-5 {
	background: #2a1314;
	border-bottom-color: #4a2f6f;
}

body {
	color: #201e2e;
}

footer {
    background: #3e285c;
    color: #696969;
}
